{% extends 'layout.html' %}

<!-- Macro for creation of input elements -->
{% macro input(name, min, max, def, value='', type='text', size=20) -%}
    <h3 class="d-inline p-2 mr-2 bg-dark text-white rounded">{{name}}</h3>
    <select name="comparator{{name}}" method="GET" action="/">
        {% for comparator in comparators %}
            <option value="{{comparator}}" SELECTED>{{comparator}}</option>"
        {% endfor %}
    </select>
    <input class = "p-2 ml-2 bg-info text-white rounded" type="number" name="{{name}}" min="{{min}}" max="{{max}}" value="{{def}}">
    <br><br>
{%- endmacro %}

{% block content %}
    <div class="d-flex align-items-center">
        <img id="logo" src="/static/images/airportPhoto.jpg" width="384" height="128"/>
        <h1 class="display-4">Query a CSV File with Pandas and Flask</h1>
    </div>

    <form method="POST"> 
            <br>
            <h3 class="d-inline p-2 mr-2 bg-dark text-white rounded">WEATHER</h3>
            <select class = "p-2 ml-2 bg-info text-white rounded" name="weather" method="GET" action="/">
                {% for weather in weathers %}
                    <option value="{{weather}}" SELECTED>{{weather}}</option>"
                {% endfor %}
            </select><br><br>

            <h3 class="d-inline p-2 mr-2 bg-dark text-white rounded">STATION</h3>
            <select class = "p-2 ml-2 bg-info text-white rounded" name="stn" method="GET" action="/">
                {% for stn in stations %}
                    <option value="{{stn}}" SELECTED>{{stn}}</option>"
                {% endfor %}
            </select><br><br>

            {{ input('DATE', 0, 31, 10) }}
            {{ input('MONTH', 1, 12, 6) }}
            {{ input('TIME', 0, 3000, 100) }}
            {{ input('WIND_SPEED', 0, 20, 1) }}
            {{ input('VIS', 0, 4000, 500) }}
            {{ input('DB', 0, 100, 5) }}
            {{ input('WIND_DIR', 0, 300, 60)}}

        <input type="submit" value="Submit" class = "px-4 py-2 bg-warning text-white rounded"> 
    </form> 

{% endblock content%}